.fav-box {
  border: solid black 1px;
  height: 300px;
  width: 300px;
  margin-right: 5px;
  margin-bottom: 5px;
  overflow: hidden;
  position: relative;
}
.fav-img{
  height: 250px;
  width: 250px;
  overflow: hidden;
}
.fav-title{
  font-size: 18px;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
.fav-display{
  display: flex;
  flex-flow: row wrap;
}