.login-body {
  background-image: url('burger.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width:100vw ;
  display: flex;
  align-content: center;
  justify-content: center;
  
}
.login-form{
  width: 450px;
  
}
